In [316]:
import pandas as pd
import numpy as np

df = pd.read_excel('MeteTargeting.xlsx')

In [317]:
# df['Targeting_part1'].unique()

In [318]:
df.columns

Index(['campaign_name', 'adset_name', 'Targeting'], dtype='object')

Split Targeting by '\n'

In [319]:
tar = ['Targeting']

def remove_section(val, section):
    if pd.isnull(val):
        return val
    val = str(val)
    return val.replace(section, '').strip()


sections=['Customer List','Location:','Edit']

for section_str in sections:
    for col in tar:
        df[col] = df[col].astype(str)
        df[col] = df[col].apply(lambda x: remove_section(x, section_str))

In [320]:
sepcol = df['Targeting'].str.split('\n', expand=True)

sepcol.columns = [f'Targeting_part{i+1}' for i in range(sepcol.shape[1])]

df = df.drop(columns=['Targeting']).join(sepcol)

Split all rows containing 'Custom Audiences' to another excel

In [321]:
cust_audience = df[df['Targeting_part1'] == 'Custom Audiences']

cust_audience.to_excel('custAudience.xlsx')

In [322]:
df_nocust = df[df['Targeting_part1'] != 'Custom Audiences']

Split all rows with 'Exclude' to another excel

In [323]:
exclude = df[df['Targeting_part2'] == 'Exclude ']

exclude.to_excel('ExcludeRem.xlsx')

In [324]:
df_nocust = df[df['Targeting_part1'] != 'Custom Audiences']
df_nocust = df_nocust[df_nocust['Targeting_part2'] != 'Exclude ']

Function that deletes a cell and moves all columns to the right of the cell once to the left

In [325]:
def slide_col(start,checker):

    movcol = ['Targeting_part2', 'Targeting_part3', 'Targeting_part4', 'Targeting_part5',
        'Targeting_part6', 'Targeting_part7', 'Targeting_part8',
        'Targeting_part9', 'Targeting_part10', 'Targeting_part11',
        'Targeting_part12', 'Targeting_part13', 'Targeting_part14',
        'Targeting_part15', 'Targeting_part16', 'Targeting_part17',
        'Targeting_part18', 'Targeting_part19']
    
    
    mask = df_nocust[movcol[start]] == checker

    for i in range(start,len(movcol)-1):
        df_nocust.loc[mask, movcol[i]] = df_nocust.loc[mask, movcol[i+1]]

slide_col(0,'')

In [326]:
df_nocust['Targeting_part2'] = df_nocust['Targeting_part2'].str.replace(':','')


slide_col(1,'Age')
slide_col(1,'Age')
slide_col(2,'')
slide_col(2,'')

In [327]:


def range_to_average(val):
    if pd.isnull(val):
        return val
    if isinstance(val, str) and '-' in val:
        try:
            start, end = val.split('-')
            start, end = float(start), float(end)
            average = (start + end) / 2
            return average
        except ValueError:
            return val
    return val

df_nocust['Targeting_part3'] = df_nocust['Targeting_part3'].apply(range_to_average)

In [333]:
old_df = df
df = df_nocust

In [334]:
df.loc[df_nocust['Targeting_part5'].str.contains('Artificial intelligence', na=False), 'Targeting_part5'] = 'CSE'
df.loc[df_nocust['Targeting_part5'].str.contains('At high school', na=False), 'Targeting_part5'] = 'Gen HighSchool Passed'
df.loc[df_nocust['Targeting_part5'].str.contains('USA', na=False), 'Targeting_part5'] = 'Abroad'

Frequently Used Functions

In [339]:
df_nocust['Targeting_part7'].unique()

array([None, 'Interests: Study abroad', 'Detailed targeting',
       'Education Level: University graduate',
       'Interests: Clark University, Tulane University, University of Miami, Rutgers University, Drexel University, Fordham University, DePaul University, Rochester Institute of Technology, Stony Brook University, University of Akron, Case Western Reserve University, University at Albany, SUNY, Pace University or Gonzaga University, School/University: Rider University, West Texas A&M University or City University of Seattle',
       'Interests: International, College admissions in the United States, Study Abroad, Study abroad in the United States or International education',
       "Interests: Business school (higher education), Digital marketing (marketing), Master of Business Administration (higher education), Postgraduate education (higher education), Marketing (business and finance), Online advertising (marketing), Advertising (marketing) or Master's degree (higher education)",
       'Interests: Clark University, Tulane University, University of Miami, Rutgers University, Drexel University, Rochester Institute of Technology, Stony Brook University, University of Akron, Case Western Reserve University, University at Albany, SUNY or Pace University, School/University: Rider University, West Texas A&M University or City University of Seattle',
       '',
       'Interests: International English Language Testing System (tests), Graduate Management Admission Test, Graduate Record Examinations, Test of English as a Foreign Language or TOEIC',
       'Interests: Washington University in St. Louis, Texas A&M University, Clark University, Purdue University, University of Southern California, Tulane University, University of Massachusetts, University of Miami, University of Massachusetts Boston, University of Arizona, Stevens Institute of Technology, Rutgers University, Missouri University of Science and Technology, Drexel University, University of Delaware, Iowa State University, Vanderbilt University, University of Tennessee, University of Oklahoma, North Carolina State University, Colorado State University, University of Kansas, Pennsylvania State University, New Jersey Institute of Technology, Dartmouth College, University of California, Santa Barbara, Boston College, University of Hawaii at Manoa, Tufts University, Oregon State University, University of Rochester, Rochester Institute of Technology, University of California, Rice University, Stony Brook University, University of Central Florida, University of Akron, New Brunswick, University of Texas at Dallas, University of Connecticut, The University of New Mexico - UNM, University of Washington, University of Iowa, Lehigh University, Florida State University, Case Western Reserve University, University of Florida, Illinois Institute of Technology, University at Albany, SUNY, University of Nebraska–Lincoln, Colorado School of Mines, University of South Carolina, Washington State University, University of Houston, University of Illinois at Urbana–Champaign, University of Virginia, City University of New York, University of North Carolina at Chapel Hill, Brown University, Rensselaer Polytechnic Institute, Pace University, University of Missouri, Indiana University, Ohio State University, University of Georgia, The New School, Michigan State University, Northeastern University, University of Utah, University of South Florida, University of Wisconsin–Madison, George Washington University, University of Minnesota, University of Pittsburgh, Arizona State University, Florida International University, Georgia Institute of Technology, University of Massachusetts Amherst or Virginia Tech, School/University: Rider University, DePaul University, West Texas A&M University, Fordham University or City University of Seattle',
       'Interests: Yale University, Los Angeles, New York University, Cornell University, University of Cambridge, University of Pennsylvania, University of California, Los Angeles, Princeton University, Harvard University, Stanford University, Massachusetts Institute of Technology, University of Manchester, Columbia University, University of Oxford or San Diego'],
      dtype=object)

In [338]:
df_nocust.to_csv('noCustAudiences.csv')

In [330]:
df_nocust.columns

Index(['campaign_name', 'adset_name', 'Targeting_part1', 'Targeting_part2',
       'Targeting_part3', 'Targeting_part4', 'Targeting_part5',
       'Targeting_part6', 'Targeting_part7', 'Targeting_part8',
       'Targeting_part9', 'Targeting_part10', 'Targeting_part11',
       'Targeting_part12', 'Targeting_part13', 'Targeting_part14',
       'Targeting_part15', 'Targeting_part16', 'Targeting_part17',
       'Targeting_part18', 'Targeting_part19'],
      dtype='object')